.hide-stuff-2020-10-09-hover {
    box-sizing: border-box;
    border: 1px dotted black !important;
    background-color: #eeeeee !important;
}

.hide-stuff-2020-10-09-hide {
    display: none !important;
}