body {
    width: 250px;
    height: 150px;
    background-color: blanchedalmond;
}

.mt0 {
    margin-top: 0;
}

.mb0 {
    margin-bottom: 0;
}

.text-center {
    text-align: center;
}

.bottom {
    margin-top: 12px;
}

.half-block {
    width: 49%;
}

.block {
    width: 98%;
}